<h1>Skip.ly ♥</h1>
  <div class="container">
    <form action="/urls" method="post">
      <input type="text" placeholder ="Paste your long url here" name="url">
      <input class="button" type="submit" value="Shorten">
    </form>

  <p><span id="new_url">
    <% if @new_url %>
      <% if @new_url.valid? %>
        <p>This is your shortened url: <a href="/<%= @new_url.short_url%>" target="_blank"> skip.ly/<%= @new_url.short_url%></a></p>
      <% else %>
        <p><%= @new_url.errors.full_messages.first %></p>
      <% end %>
    <% end %>
  </span></p><br>
</div>

<div class="popular">
  <h5>Most Popular:</h5>
    <span><% @url.each do |url| %>
      <a href="/<%= url.short_url%>" target="_blank"> skip.ly/<%= url.short_url%></a>
      <%= url.click_count %><br>
    <% end %></span>
</div>







