<div class="container">
  <h1>Skip.ly ♥</h1>
  <form action="/urls" method="post">
    <input type="text" placeholder ="Paste your long url here" name="url">
    <input type="submit" value="Shorten">
  </form>

  <p><span id="new_url">
    <% if @new_url %>
      <% if @new_url.valid? %>
        <p>This is your shortened url: <a href="/<%= @new_url.short_url%>" target="_blank"> skip.ly/<%= @new_url.short_url%></a></p>
      <% else %>
        <p><%= @new_url.errors.full_messages.first %></p>
      <% end %>
    <% end %>
  </span></p>


  <h5>Most Popular:</h5>
  <ul list-style:none >
    <% @url.each do |url| %>
        <li><a href="/<%= url.short_url%>" target="_blank"> skip.ly/<%= url.short_url%></a>
          <span id="count"><%= url.click_count %></span></li>
      <% end %>
  </ul>
    </div>




